
.logo {
  /*top: 50%;
  left: 50%; */
  align: center
  /*bring your own prefixes */
  	}
	
	.main_div{

    margin-bottom:40px;
    margin-top:40px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: red;
}
	
.footer-distributed{
	background-color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 35%;
}

.footer-distributed span{
	color:  #5383d3;
}

p {
	color:  white;
}

/* Footer Center */

.footer-distributed .footer-center{
	/*background-color:  ; */
	width: 25%;
}

/*.footer-distributed .footer-center {
	background-color:  blue;
	color: #ffffff;
	font-size: 25px;
	width: 35px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
} */

/* Footer Right */
/*
footer-distributed .footer-right{
	width: 30%;
}
*/
.footer-distributed .footer-right {
	/* background-color:  red; */
	width: 20%;
	margin-left: 300px;
	padding-left: 0px;
	/*line-height: 42px;*/
	vertical-align: align-right;
}


.topnav {
  border-radius: 15px 15px;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
